* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.curvy_box {
  padding: 0.5vmax 1.5vmax;
  background-color: rgb(19, 18, 18);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.curvy_box h5{
  font-size: 1.5vmax;
}